/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container
{
    width: 600px;
    background:#FFF2E0;
    height: 700px;
    font-family:"Verdana";
    margin:auto;
    border:solid 1px black;
}
#topbar
{
    color:#FFF2E0;
    background: #645443;
    text-align:right;
    font-size:10px;
    font-style:italic;
    height:250px;
    background-image:url("pics/coffey.jpg");
    background-position:0 15px;
    background-repeat:no-repeat;
}
a[href="#maincontent"] 
{
    display: none;
}
#menu
{
    font-family:verdana;
    font-size:13px;
    width:600px;
    list-style-type:none;
    height:35px;
    margin-top:-31px;
    padding-left:8px;
    text-transform:capitalize;
}
#menu ul
{
    list-style-type: none;
    margin:0;
    padding:0;
}
#menu ul li
{
    display: inline; 
}
#menu a
{
    background-color:#797066;
    text-decoration:none;
    padding:0.5em 1.25em;
    float:left;
    margin-left:1.5px;
    margin-top:2px;
    color: #FFF2E0;

}
#menu .active a{

    color: #797066;
    background-color:#FFF2E0;
}
#menu a:hover
{
    color: #fff;
    background-color: #8C9084;
}
#content
{
    
}
#maincontent
{
    float:left;
    width:50%;
    font-family:Verdana;
    font-size:14px;
    padding:5px;
    line-height:150%;
    color:gray;
}
#maincontent h1
{
    font-family:times;
    margin-top:1px;
}
img 
{
    float:left; margin-right:5px; 
}
#subcontent
{
    margin-top:5px;
    float:left;
    padding-left:15px;
    width:250px;
    border-left-style:Dashed;
    border-left-width:1px;
    border-left-color:gray;
    font-size:11px;
    line-height:250%;
    color:gray;
}
#subcontent h1
{
    margin-top:0;
    font-size:16px;
    color:gray;    
}
#subcontent h2
{
    margin-top:20px;
    font-family:Times;
    font-size:14px;
    color:gray;    
}
#subcontent a
{
    clear:both;
    font-size:12px;
    color:#5f463c;
}
#subcontent ul li
{
    list-style-type:none;
}
#subcontent ul
{
    margin:0;
    padding:0;
}
#bottomcontent
{
    Clear:both;
    font-style:italic;
    font-size:12px;
    color:gray;
}