/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */
#container
{
    width: 600px;
    background: #FFF2E0;
    height: 700px;
    font-family:"Verdana";
    margin:auto;
    border:solid 1px black;
}
#topbar
{
    color:#FFF2E0;
    background: #645443;
    text-align:right;
    font-size:10px;
    font-style:italic;
    height:250px;
    background-image:url("pics/coffey.jpg");
    background-position:0 15px;
    background-repeat:no-repeat;
}
#menu
{
    font-family:verdana;
    font-size:13px;
    
}
#active
{
}
#content
{
    
}
#subcontent
{
    
}
#bottomcontent
{
    
}